<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">
<div id="wrapper" class="active">
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
            <li class="sidebar-brand"><a th:href="@{/administration}">DreamEvents</a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">
            <li><a th:href="@{/locations/list}">Locations</a></li>
            <li><a href="#">Reservations</a></li>
            <li><a href="#">Info-requests</a></li>
            <li><a href="#">Meetings</a></li>
            <li><a href="#">Customers</a></li>

            <form action="#" th:action="@{/logout}" method="POST" class="justify-content-center">
                <div class="fixed-bottom">
                    <button type="submit" class="btn btn-outline-secondary btn-sm">Logout</button>
                </div>
            </form>
        </ul>
    </div>
</div>
</th:block>