<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>DreamEvents</title>

	<!--Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

	<link rel="stylesheet" th:href="@{css/style.css}">
</head>

<body>

<div id="wrapper" class="active">
	<div id="sidebar-wrapper">
		<ul id="sidebar_menu" class="sidebar-nav">
			 <li class="sidebar-brand"><a href="#">DreamEvents</a></li>
		</ul>
		  <ul class="sidebar-nav" id="sidebar">     
			<li><a href="#">Locations</a></li>
			<li><a href="#">Reservations</a></li>
			<li><a href="#">Info-request</a></li>
			<li><a href="#">Meetings</a></li>
			<li><a href="#">Customers</a></li>
			
			<form action="#" th:action="@{/logout}" method="POST" class="justify-content-center">
				<div class="fixed-bottom">
					<button type="submit" class="btn btn-outline-secondary btn-sm">Logout</button>
				</div>
			</form>
		  </ul>
		</div>
	</div>
	<div id="page-content-wrapper">
		<div class="container">
			<h1>Administration</h1>
			<table class="table">
				<thead>
					<tr>
						<th>dafd</th>
						<th>dsfadf</th>
						<th>fsdfad</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td scope="row">dsaf</td>
						<td>fdshfad</td>
						<td>fdsafdh</td>
					</tr>
					<tr>
						<td scope="row">dfadf</td>
						<td>fsfdsda</td>
						<td>fdsfadfa</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>

	
</body>

</html>
