<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">

    <!--Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    
    <link rel="stylesheet" th:href="@{css/style.css}">
    <!--datetime picker-->
    <link rel="stylesheet" th:href="@{css/jquery.datetimepicker.min.css}" />
    <title>Reservation Directory</title>
</head>
<body>
    <div th:insert="~{fragments/fragments :: navbar}"></div>
    <div class="page-content-wrapper">
        <div class="container">
            <h3>Reservation for [[${location.name}]]</h3>
            <hr>
            
            

            <form th:action="@{/reservation/save}" th:object="${reservation}" method="POST">
                <input type="hidden" th:field="*{id}" />

                <input type="hidden" th:value="${location.id}" th:field="*{location}"/>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><b>Customer</b></label>
                    <div class="col-sm-10">
                        <select id="customer" name="customer" th:field="*{customer}" class="form-control mb-6 col-6">
                            <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.email}"></option>
                        </select>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><b>Reservation date</b></label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{reservationDate}" id="datepicker1" class="form-control mb-6 col-6"  th:value="${#temporals.format(reservationDate, 'dd-MM-yyyy')}" autocomplete="off"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><b>Ceremony Type</b></label>
                    <div class="col-sm-10">
                        <select id="ceremonyType" name="ceremonyType" th:field="*{ceremonyType}" class="form-control mb-6 col-6">
                            <option th:each="ceremonyType : ${ceremonyTypes}" th:value="${ceremonyType}" th:text="${ceremonyType}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><b>Cuisine</b></label>
                    <div class="col-sm-10">
                        <select id="cuisine" name="cuisine" th:field="*{cuisine}" class="form-control mb-6 col-6">
                            <option th:each="cuisine : ${cuisines}" th:value="${cuisine}" th:text="${cuisine}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><b>Nr. of guests</b></label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{nrGuests}" class="form-control mb-6 col-6"  />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><b>Music included</b></label>
                    <div class="col-sm-10">
                      <select th:field="*{musicIncluded}" class="form-control mb-6 col-6">
                        <option value="Yes" selected>Yes</option>
                        <option value="No">No</option>
                      </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><b>Kitchen included</b></label>
                    <div class="col-sm-10">
                      <select th:field="*{kitchenIncluded}" class="form-control mb-6 col-6">
                        <option value="Yes" selected>Yes</option>
                        <option value="No">No</option>
                      </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><b>Payment Method</b></label>
                    <div class="col-sm-10">
                      <select th:field="*{paymentMethod}" class="form-control mb-6 col-6">
                        <option th:each="paymentMethod : ${paymentMethods}" th:value="${paymentMethod}" th:text="${paymentMethod}"></option>
                      </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><b>Details</b></label>
                    <div class="col-sm-10">
                        <textarea th:field="*{details}" class="form-control mb-6 col-6" cols="30" rows="3"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-info col-2">Save</button>
            </form>
        </div>
    </div>

<script type="text/javascript" th:src="@{js/jquery.datetimepicker.full.min.js}"></script>
<script>
    $('#datepicker1').datetimepicker({
            timepicker: false,
            datepicker: true,
            format: 'd-m-Y',
            yearStart: 2020,
            yearEnd: 2022
        })
</script>
</body>
</html>